footer{
    height: 250px;
    background-color: $blue;
    position: relative;

    .copyright{
        height: 25px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: #232222;
    }
}