.hero {
  background-color: $blue;
  padding: 40px 0;
  z-index: 9999;
}

.hero-slider .slide img {
  margin: 0px auto;
  margin-bottom: 20px;
}

.slick-slide::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.slick-slide .slide-content {
    vertical-align: middle;
    display: inline-block;

    button{
    
      margin: 0px auto;
    
    }
}